/* ==============================
   PADRÔES DE CORES E ESTILOS
   ============================== */
:root {
    --primary-red: #ff0000;
    --dark-red: #9d0000;
    --text-color: #fff;
    --background-dark: #0a0a0a;
    --background-medium: #1E1E1E;
    --border-color: #333;
    --font-main: "Roboto", sans-serif;
    --font-special: 'VT323', monospace;
}

/* ==============================
   RESET E ESTILOS GLOBAIS DO BODY
   ============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-dark);
    font-family: var(--font-main);
    color: var(--text-color);
    background-image: url('https://www.transparenttextures.com/patterns/black-felt.png');
}

/* ==============================
   HEADER
   ============================== */
header {
    height: 13vh;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    color: #fff;
    background-color: var(--background-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    border-bottom: 2px solid #333;
}

.logo {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 0px var(--primary-red);
}

.container-header {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.container-header nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.container-header nav ul li a {
    text-decoration: none;
    color: #fff;
}

.container-header nav ul li a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--primary-red);
}

@media (max-width: 768px) { /* Um breakpoint para tablets/celulares grandes */
    header{
        height: 60vh;
        flex-direction: column;
        padding: 1rem 0rem;
        align-items: center;

    }

    .container-header {
    flex-direction: column;
    text-align: center;
}

    .container-header nav ul {
    flex-direction: column;
    justify-content: center;
}
}

/* ==============================
    MAIN
   ============================== */
main {
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    margin: auto;
    min-height: 74vh;
    display: flex;
    flex-direction: column;
    background-color: #0A0A0A;
    width: 65vw;
}

@media (max-width: 600px) {
    main{
        width: 100vw;
    }
}

/* ==============================
    Footer
   ============================== */

footer {
    background-color: #1E1E1E;
    height: 13vh;
}

/* ==============================
   COMPONENTES REUTILIZÁVEIS
   ============================== */
/* Padrões textuais */
.highlight {
    color: #ff4d4d;
}

.page-title {
    color: #da032a;
    text-align: center;
    border-bottom: 2px solid #333;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 3.3rem;
}

.page-title--left {
    text-align: start;
}

.btn {
    font-family: 'VT323', monospace;
    background-color: var(--dark-red);
    border: 2px solid var(--primary-red);
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-red);
    box-shadow: 0 0 15px var(--primary-red);
    cursor: pointer;
}

.btn--little {
    font-size: 1.3rem;
}

.btn--gray {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 1.3em;
    border: 1px solid #555;
    transition: all 0.3s ease;
}

.btn--gray:hover {
    background-color: #ff0000;
    color: #000;
}