/* ==============================
   1.0 PADRÔES DE CORES E ESTILOS
   ============================== */
:root {
    --primary-red: #ff0000;
    --dark-red: #9d0000;
    --highlight-red: #da032a;
    --highlight-secondary-red: #ff4d4d;
    --text-color: #fff;
    --text-color-dark: #000;
    --text-color-gray: #aaa;
    --background-dark: #0a0a0a;
    --background-medium: #1a1a1a;
    --border-color: #333;
    --border-color-light: #555;
    --font-main: "Roboto", sans-serif;
    --font-special: 'VT323', monospace;
}

/* ===================================
   2.0 - RESET E ESTILOS GERAIS
====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-dark);
    font-family: var(--font-main);
    color: var(--text-color);
    background-image: url('https://www.transparenttextures.com/patterns/black-felt.png');
}

/* ===================================
   3.0 - LAYOUT PRINCIPAL
====================================== */

/* --- 3.1 - Header --- */
header {
    height: 13vh;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    background-color: var(--background-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    border-bottom: 2px solid var(--border-color);
}

.logo {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    text-shadow: 2px 2px 0px var(--primary-red);
}

.container-header {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.container-header nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.container-header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.container-header nav ul li a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--primary-red);
}

/* Adapta o header para layout de coluna em telas menores(celulares). */
@media (max-width: 768px) { 
    header {
        flex-direction: column;
        height: auto;           
        padding: 1.5rem 1rem;   
        gap: 1.5rem;            
    }

    /* Altera o container da direita para um layout vertical também */
    .container-header {
        flex-direction: column; 
        gap: 1.5rem;            
    }

    /* Ajusta a lista de links da navegação */
    .container-header nav ul {
        flex-direction: column; 
        align-items: center;    
        gap: 1rem;             
    }
}

/* --- 3.2 - Main Universal (Com algumas exceções de estilo com o main de serviços)--- */
main {
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    margin: auto;
    min-height: 74vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark);
    width: 65vw;
}

/* Em telas menores, o conteúdo principal ocupa toda a largura e perde as bordas laterais. */
@media (max-width: 768px) {
    main{
        width: 100vw;
        border: none;
    }
}

/* ==============================
    Footer
   ============================== */

footer {
    background-color: var(--background-medium);
    min-height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-top: 2px solid var(--border-color);
}

footer h2{
    letter-spacing: 2px;
    font-size: 2rem;
    font-family: 'VT323', monospace;
}

.social-links{
    font-size: 1.5rem;
    border-radius: 2rem;
    list-style: none;
    background-color: var(--border-color);
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

.social-links a {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.social-links a:hover{
    transform: scale(1.15);
    color: var(--primary-red);
    
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* Garante que o texto no footer fique centralizado em telas pequenas */
@media (max-width: 768px) {
    footer{
        text-align: center;
    }
}

/* ===================================
   4.0 - COMPONENTES REUTILIZÁVEIS
====================================== */

/* --- 4.1 - Classes de Texto --- */
.highlight {
    color: var(--highlight-secondary-red);
}

/* --- 4.2 - Títulos de Página (.page-title) --- */
/* Estilo base para os títulos principais de cada página. */
.page-title {
    color: var(--highlight-red);
    text-align: center;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 1rem;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 3.3rem;
}

/* Um modificador para alinhar o título para a esquerda. */
.page-title--left {
    text-align: start;
}

/* Um modificador para adicionar mais espaçamento inferior. */
.page-title--spaced{
    margin-bottom: 2.5rem;
}

/* --- 4.3 - Botões (.btn) --- */
/* Estilo base para todos os botões do site. */
.btn {
    font-family: 'VT323', monospace;
    background-color: var(--dark-red);
    border: 2px solid var(--primary-red);
    color: var(--text-color);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-red);
    box-shadow: 0 0 15px var(--primary-red);
}

.btn--little {
    font-size: 1.3rem;
}

.btn--gray {
    background-color: var(--border-color);
    border: 1px solid var(--border-color-light);
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.btn--gray:hover {
    background-color: var(--primary-red);
    color: var(--text-color-dark);
}