/* ===================================
   ESTILOS DA PÁGINA: HOME
====================================== */

/* --- Banner Principal --- */
main .game-title-section img {
    width: 100%;
}

/* --- Layout de Duas Colunas --- */
.columns-content {
    display: flex;
    gap: 1rem;
}

.left-column,
.right-column {
    padding: 1.5rem;
    flex: 1;
    width: 50%;
}

/* Estilos para os títulos de seção dentro das colunas. */
.left-column h2,
.left-column h3,
.right-column h2 {
    margin-bottom: 1rem;
    font-family: 'VT323', monospace;
}

.left-column h3 {
    font-size: 1.5rem;
}

/* Estilos gerais para parágrafos e listas dentro do <main> da home. */
.left-column p {
    line-height: 1.6;
}


main p,
main ul {
    margin-bottom: 1rem;
}

main ul li {
    margin-left: 2.5rem;
}

.gif-block,
.gif-block img {
    width: 100%;
}

/* Modificador para adicionar espaçamento extra entre os GIFs. */
.gif-block--spaced{
    margin-bottom: 1rem;
}

/* --- Seção de Comentários --- */
.comment-header {
    color: var(--highlight-secondary-red);
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
}

.comment-header .username {
    font-size: inherit; /* Faz com que ele tenha o mesmo tamanho do pai (font-sizer: 1.5rem)*/
    font-weight: normal;
    margin: 0; /* Remove qualquer margem padrão */
}

.comment-body {
    border-left: 2px solid var(--border-color);
    padding-left: 1rem;
}

.comment-forum p{
    margin-bottom: 0;
}

.comment-forum{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* ===================================
   RESPONSIVIDADE: HOME
====================================== */
@media (max-width: 768px) {
    .columns-content {
        flex-direction: column; 
    }

    .left-column,
    .right-column {
        width: 100%; 
    }
}